In [ ]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [ ]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [ ]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [ ]:
# Create a list for holding the cities.
cities = []

In [ ]:
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)

In [ ]:
# Print the city count to confirm sufficient count.
len(cities)

In [ ]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [ ]:
# Import the requests library.
import requests

In [ ]:
# Import the API key.
from config import weather_api_key

In [ ]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

In [ ]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

In [88]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Wallasey,53.4232,-3.0650,54.81,86,75,6.91,GB,2022-05-01 21:20:41
1,New Norfolk,-42.7826,147.0587,58.87,84,87,3.00,AU,2022-05-01 21:20:42
2,Kulhudhuffushi,6.6221,73.0700,84.70,75,79,15.68,MV,2022-05-01 21:20:42
3,Hermanus,-34.4187,19.2345,57.79,90,35,10.25,ZA,2022-05-01 21:20:43
4,Los Llanos De Aridane,28.6585,-17.9182,64.15,85,0,10.36,ES,2022-05-01 21:20:43
5,Kapaa,22.0752,-159.3190,80.58,76,40,18.41,US,2022-05-01 21:20:44
6,Goedereede,51.8175,3.9806,51.98,71,56,10.04,NL,2022-05-01 21:20:45
7,Mahebourg,-20.4081,57.7000,74.25,94,40,3.44,MU,2022-05-01 21:20:45
8,Ribeira Grande,38.5167,-28.7000,63.57,78,25,1.59,PT,2022-05-01 21:20:46
9,Busselton,-33.6500,115.3333,58.24,85,45,1.34,AU,2022-05-01 21:20:46

In [90]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Wallasey,GB,2022-05-01 21:20:41,53.4232,-3.0650,54.81,86,75,6.91
1,New Norfolk,AU,2022-05-01 21:20:42,-42.7826,147.0587,58.87,84,87,3.00
2,Kulhudhuffushi,MV,2022-05-01 21:20:42,6.6221,73.0700,84.70,75,79,15.68
3,Hermanus,ZA,2022-05-01 21:20:43,-34.4187,19.2345,57.79,90,35,10.25
4,Los Llanos De Aridane,ES,2022-05-01 21:20:43,28.6585,-17.9182,64.15,85,0,10.36
5,Kapaa,US,2022-05-01 21:20:44,22.0752,-159.3190,80.58,76,40,18.41
6,Goedereede,NL,2022-05-01 21:20:45,51.8175,3.9806,51.98,71,56,10.04
7,Mahebourg,MU,2022-05-01 21:20:45,-20.4081,57.7000,74.25,94,40,3.44
8,Ribeira Grande,PT,2022-05-01 21:20:46,38.5167,-28.7000,63.57,78,25,1.59
9,Busselton,AU,2022-05-01 21:20:46,-33.6500,115.3333,58.24,85,45,1.34

In [91]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")